
name: Terraform Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform Plan & Apply
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do Reposit칩rio
        uses: actions/checkout@v4

      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Configurar Credenciais AWS
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
              echo "Configura칞칚o de credenciais AWS conclu칤da!"
              echo $AWS_ACCESS_KEY_ID
              echo $AWS_SECRET_ACCESS_KEY
        
      - name: Instalar TFLint
        run: |
          echo "游댌 Instalando TFLint..."
          curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
          tflint --version
          
      - name: Validar C칩digo Terraform
        run: |
          echo "游댌 Verificando formata칞칚o do c칩digo Terraform..."
          terraform fmt -check -diff || echo " Formata칞칚o incorreta! Execute 'terraform fmt' para corrigir."

          echo "游댌 Validando a configura칞칚o do Terraform..."
          terraform validate -no-color || echo " Erro na valida칞칚o! Corrija os problemas antes de continuar."

      - name:  Validar C칩digo Terraform com TFLint
        run: |
          echo " Verificando formata칞칚o do c칩digo Terraform..."
          terraform fmt -check -diff || echo " Formata칞칚o incorreta! Execute 'terraform fmt' para corrigir."

          echo " Validando a configura칞칚o do Terraform..."
          terraform validate -no-color || echo " Erro na valida칞칚o! Corrija os problemas antes de continuar."

          echo " Executando TFLint para verificar melhores pr치ticas..."
          tflint --init
          tflint --format compact || echo " Erros encontrados pelo TFLint! Corrija antes de continuar."

      - name: Inicializar Terraform
        run: terraform init
        working-directory: ./

      - name: Criar Plano (Terraform Plan)
        run: terraform plan -out=tfplan

      - name: Aplica칞칚o (Terraform Apply) - Requer Aprova칞칚o
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
